
        
        <!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}{% endblock %} - My Webpage</title>
            {% block stylesheets %}
         
{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        
        {% block body %}
         
         {% endblock %} 
    </body>
    {% block javascripts %}
        
         
        {% endblock %} 
</html>
        
        
            {#{{ encore_entry_link_tags('app') }}#}
        

        
            {#{{ encore_entry_script_tags('app') }}#}
        
  
    

     

         
            
   
