
        
        <!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}centre de formation{% endblock %}</title>
            {% block stylesheets %}
         
{% endblock %}
        {% endblock %}
    </head>
    <body>
        
        
        {% block body %}
         
         {% endblock %} 

         
          {% block javascripts %}
        {% endblock %} 
    </body>
   
</html>
        
        
        
        
  
    

     

         
            
   
